/* Reset everything before starting to avoid weird gaps*/
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
/* Site-wide things */
	a {
		color: #3b8bba;
		text-decoration: none;
	}
	a:hover,
	a:focus {
		text-decoration: underline;
	}
	a:visited {
		color: #265778;
	}
	div.content {
	    margin: 0 auto;
	    padding: 0 2em;
	    max-width: 800px;
	    margin-bottom: 50px;
	    line-height: 1.6em;
	}
/*	@font-face {
		font-family: "Computer Modern";
		src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
	}
	@font-face {
		font-family: "Computer Modern";
		src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
		font-weight: bold;
	}
	@font-face {
		font-family: "Computer Modern";
		src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
		font-style: italic, oblique;
	}
	@font-face {
		font-family: "Computer Modern";
		src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
		font-weight: bold;
		font-style: italic, oblique;
	}
*/
	body {
  		font-family: "Raleway", Helvetica, Arial, sans-serif
	}
/*-----------------------------------------------------------------------*/
/* Menu things */
	div.menu {
		overflow-x:hidden;
		position:static;
		max-width:100%;
	    margin: 0;
	    background-color: #333;
	}

	/* style the menu list */
	div.menu ul {
	    list-style-type: none;
	    overflow: hidden;
	    z-index:1000;
	    padding: 0 0 0 10em;
	}

	/* Set the menu items to be positioned horizontally */
	div.menu li {
		border-style:solid;
		border-color:gray;
		border-width: 2px 1px;
		font-size:15pt;
	    float: left;
	}

	/* Style how menu entries' links should look */
	div.menu li a, .dropbtn {
	    display: inline-block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	/* Set link buttons to turn grey when hovered over */
	div.menu li a:hover, .dropdown:hover .dropbtn {
	    background-color: gray;
	}

	/* Get dropdown elements to display in block */
	div.menu li.dropdown {
	    display: inline-block;
	}

	/* Style dropdown-content to be invisible until activated */
	div.menu .dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	}

	/* Format the links for dropdown content */
	div.menu .dropdown-content a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    text-align: left;
	}

	/* Set dropdown links to change color when hovered too */
	div.menu .dropdown-content a:hover {background-color: #f1f1f1}

	/* Set dropdown links to display when drop tab hovered */
	div.menu .dropdown:hover .dropdown-content {
	    display: block;
	}
/* Banners, sidebars, and footer */
	.banner {
		position: static;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 10;
		height:8em;
		background-color:#333333;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}
		div.banner div.logo{
			width: 8em;
			height: 8em;
			border-right: #000000;
		}
		div.banner div.logo img {
			margin:1em 2em;
			max-width:6em;
			max-height:6em;
		}
		div.banner div.sitename{

		}

	div.sidebar {
		background-color:#528be0;
		top:0;
		left:0;
		position:fixed;
		width:10em;
		height:100%;
		z-index:-1;
	}

	div.footer{
		position:fixed;
		bottom:0;
		width:100%;
		color:grey;
		font-size:.8em;
		text-align:center;
	}
	a {
		text-decoration:none;
	}