<footer>
  <div class="footer">
    <p style="text-align:center">
    &copy; 2017 Forest Kobayashi.
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons Attribution">All rights reserved</a>. Hosted by <a href="https://www.netlify.com/">Netlify</a>.
    </p>
  </div>
</footer>

<!-- Google Analytics stuff -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-99652813-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
        'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
  })();

</script>
</body>
</html>
