<!-- Site banner -->
<!-- <img id="banner" src="/img/banner.jpg" alt="Banner Image"/> -->
<!-- Menu -->
<div class="top-menu" id="top-menu">
  <ul>
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
        <li class="dropdown">
          <a href="{{ .URL }}" class="dropbtn">{{ .Pre }}{{ .Name }}</a>
          <div class="dropdown-content">
            <ul>
              {{ range .Children }}
                <a href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a>
                {{ if .HasChildren }}
                  {{ range .Children }}
                    <li>
                      <a href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a>
                    </li>
                  {{ end }}
                {{ end }}
              {{ end }}
            </ul>
          </div>
        </li>
      {{else}}
        <li>
          <a href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a>
        </li>
      {{end}}
    {{end}}
  </ul>
</div>
