{{ partial "head.html" . }}
<body>
<div class="header-404">
	<h1>
		<a href="https://simplemath.io"> Uh oh... There's been some sort of error.  </a>
	</h1>
</div>
<div class = "a404">
	<img src="/img/404.svg">
</div>
<div class="a404-text">
	So, what <i>is</i> here?  Well... nothing, apparently.  It seems that the page you're looking for could not be found.  Maybe I've left a dead link somewhere, or maybe you just got a little too adventurous when typing in a URL.  Either way, you can let me know about it <a href="https://github.com/redpanda1234/demystifying-math/issues">here</a>, or send me an email about it at <a href="mailto:contact.simplemath@gmail.com">contact.simplemath@gmail.com</a>.  Click on "Uh oh" to return home
</div>
<footer>
  <div style="max-width:100%; text-align:center; font-size:.8em; color:grey;">
    <p style="text-align:center">
    &copy; 2017 Forest Kobayashi.
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons Attribution">Some rights reserved</a>. Hosted by <a href="https://www.netlify.com/">Netlify</a>.
    </p>
  </div>
</footer>